<h1> Details </h1>
<table>
    

<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> Saledate: </td> <td> <%= onerec.saledate %> </td> </tr>
<tr> <td> customernotes: </td> <td> <%= onerec.customernotes %> </td> </tr>
<tr> <td> Payment Status: </td> <td> <%= onerec.paymentstatus %> </td> </tr>
<tr> <td> Authorizationnum: </td> <td> <%= onerec.authorizationnum %> </td> </tr>

</table>